.scrolling {
    height: 90vh;
    overflow-y: scroll;
}
.record-text {
    max-height: 100px;
    overflow-y: hidden;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 1px solid;
}

.crud-header {
    display: flex;
    align-items: center;
    margin: 1rem 0px;
}

.crud-header__button {
    margin-left: auto;
}
